extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Utwórz turniej

        // register form
        form(method='POST' action='/tournament/add')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='tournament name' name='name')
          div.form-group
            label(for='city') City:
            input#name.form-control(type='text', placeholder='city' name='city')
          div.form-group
            label(for='street') Street:
            input#name.form-control(type='text', placeholder='street' name='street')
          div.form-group
            label(for='maxPlayers') Maximum players:
            input#name.form-control(type='number', placeholder='30' name='maxPlayers')
          div.form-group
            label(for='zipCode') ZipCode:
            input#email.form-control(type='text', placeholder='zipCode' name='zipCode')
          div.form-group
            label(for='maxRounds') Rounds:
            input#email.form-control(type='number', placeholder='3' name='maxRounds')
          div.form-group
            label(for='date') Date:
            input#email.form-control(type='date', placeholder='Choose date' name='date')
          div.form-group
            label(for='rules') Rules:
            input#email.form-control(type='text', placeholder='Custom tournament rules' name='rules')
          div.form-group
            label(for='description') Description:
            input#email.form-control(type='text', placeholder='description' name='description')
          button.btn.btn-primary(type='submit') Create tournament