extends layout

block content
  h1= title
  ul
    each val in tournaments
      li
        h2= val.name
        p Miejsce  #{val.city} ul. #{val.street}
        p Opis: #{val.description}
        p Liczba rund: #{val.maxRounds}
        p Liczba graczy: #{val.players.length} / #{val.maxPlayers}
        a(href='show/' + val._id) Details

