extends layout
block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Edit tournament

        // register form
        form(method='PUT' action='/tournament/edit/' + tournament._id)
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='tournament name' name='name' value=tournament.name)
          div.form-group
            label(for='city') City:
            input#name.form-control(type='text', placeholder='city' name='city' value=tournament.city)
          div.form-group
            label(for='street') Street:
            input#name.form-control(type='text', placeholder='street' name='street' value=tournament.zipCode)
          div.form-group
            label(for='creator') Creator:
            input#name.form-control(type='email', placeholder='mail@domain.com' name='creator' value=tournament.street)
          div.form-group
            label(for='maxPlayers') Maximum players:
            input#name.form-control(type='number', placeholder='30' name='maxPlayers' value=tournament.maxPlayers)
          div.form-group
            label(for='zipCode') ZipCode:
            input#email.form-control(type='text', placeholder='zipCode' name='zipCode' val=tournament.zipCode)
          div.form-group
            label(for='maxRounds') Rounds:
            input#email.form-control(type='number', placeholder='3' name='maxRounds' val=tournament.maxRounds)
          div.form-group
            label(for='maxRounds') Date:
            input#email.form-control(type='date', placeholder='Choose date' name='date' val=tournament.date)
          div.form-group
            label(for='rules') Rules:
            input#email.form-control(type='text', placeholder='Custom tournament rules' name='rules' val=tournament.rules)
          div.form-group
            label(for='description') Description:
            input#email.form-control(type='text', placeholder='description' name='description' val=tournament.description)
          button.btn.btn-primary(type='submit') Save changes