doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block navBar
      div.container
        ul.col-md-12.row
          a(href="/")
            li.col-md-3.col-md-offset-1 Main
          if user
            li.col-md-3.col-md-offset-1 #{user.firstName} #{user.lastName}
          else
            a(href="/users/login")
              li.col-md-3.col-md-offset-1 Login
          a(href="/tournament/show")
            li.col-md-3 Pokaz wszystkie turnieje
          a(href="/tournament/add")
            li.col-md-3 Dodaj turniej
    block content
    