extends layout

block content
  h2= tournament.name
  p Miejsce  #{tournament.city} ul. #{tournament.street}
  p Opis: #{tournament.description}
  p Liczba rund: #{tournament.maxRounds}
  p Liczba graczy: #{tournament.players.length} / #{tournament.maxPlayers}
  p Zasady: #{tournament.rules}
  ul 
    each round in tournament.rounds
      li
        h3 #{round.playerA} vs #{round.playerB}
        p #{round.scoreA} vs #{round.scoreB}
    else 
      a(class='button' href='/tournament/' + tournament._id +  '/create-first-round') Create first round 

  if user.email != tournament.creator.email && canJoin
    a(class='button' href='/tournament/' + tournament._id + 'add/user/') Join tournament
  else
    a(class='button' href='/tournament/edit/' + tournament._id) Edit Tournament